{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>To do List's detail</title>
  </head>
  <body>
    <main>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
            <!-- <input type="text" name="name"/> -->
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
    </div>
    </form>
    </main>
  </body>
</html>
