{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>To do List's detail</title>
  </head>
  <body>
    <main>
        <div>
            <h1>{{ list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' list_detail.id %}">Edit</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo_list_list.items %}
                    <tr>
                        <td>{{ task.item.task }}</td>
                        <td>{{ task.items.due_date}}</td>
                    </tr>
                    {{% endfor %}}
                </tbody>
            </table>
        </div>
    </main>
  </body>
</html>
