{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Lists</h1>
    <div>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
        </p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            <tbody>
                {% for list in todo_list_list.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                        </td>
                        <td>{{ list.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
</main>
</body>
</html>
