{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' list_detail.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' list_detail.id %}">Delete</a>
            </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_detail.items.all %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date|date:"M j, Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
